.admin-nav{
    margin: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    padding: 10px 30px;
    border-radius: 10px;
}

button{
    margin-right: 10px;
}

#logout-btn{
    background-color: red;
    color: #fff;
}